Package: auto-config
Version: 1.1.0
Section: utils
Priority: optional
Architecture: amd64
Depends: nginx, certbot, python3-certbot-nginx
Maintainer: sizablesplash86
Description: Automated Nginx configuration and SSL setup generator.
